* {
    margin: 0px;
    padding: 0px;
}

/* MENU */
header {
    min-height: 15vh;
    background-color: rgb(65, 31, 11);
    display: flex;
    animation: aparecer 1.0s ease forwards;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav h1 {
    color:white;    
}

nav a {
    color: #dddddd;
    text-decoration: none;
    font-size: 200%;
    transition: 0.3s;
    text-align: center;
}

#nav-home {
    scale: 1.1;
}

.nav-items a:hover, #nav-home:hover {
    scale: 1.3;
    color: #ffffff;
}

.nav-items {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#logo-home {
    width: 10%;
    margin-left: 2.5%;
}

#logo-home img {
    width: 100%;
    height: 100%;
}

#whatsapp-menu {
    margin-right: 2.5%;
    width: 10%;
    display: flex;
    padding: 0.8% 0.8%;
    border: 2px solid rgb(166, 81, 89);
    border-radius: 3px;
    scale: 0.6;
    transition: 0.3s;
}

#whatsapp-menu a {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#whatsapp-menu:hover {
    scale: 0.9;
}

.nav-items a.active {
    border-bottom: 2px solid rgb(166, 81, 89);
}

nav a img {
    margin-right: 5%;
    width: 20%;
    height: 60%;
}

#whatsapp-menu a img {
    width: 20%;
    height: 80%;
    margin-left: auto;
}

/* BODY */

/* SECTION 1 */

.section-1 {
    height: 70vh;
    width: 100%;
    background-image: url("../static/assets/fundo_section_1.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    padding-top: 10%;
    animation: subir 0.8s ease forwards;
}

.section-1 div {
    margin-left: 5%;
    width: 30%;
}

.section-1 h1 {
    font-size: 350%;
    color: rgb(85, 58, 44);
    font-weight: bold;
}

.section-1 p {
    font-size: 200%;
    margin-top: 10%;
}

.section-1 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 115, 129);
    color: white;
    font-size: 200%;
    width: 50%;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10%;
    transition: 0.2s ease;
    padding-right: 5%;
}

.section-1 a img {
    width: 30%;
    object-fit: contain;
}

.section-1 a:hover {
  transform: scale(1.05);
  background-color: rgb(166, 81, 89);
  cursor: pointer;
}

/* SECTION 2 */

.section-2 {
    background-color: #eeeeee;
    padding-top: 3%;
    padding-bottom: 10%;
}

.section-2 h1 {
    font-size: 350%;
    color: rgb(85, 58, 44);
    font-weight: bold;
    margin-left: 11%;
}

.section-2 h2 {
    font-size: 200%;
    color: rgb(85, 58, 44);
    margin-top: 2%;
    font-weight: bold;
}

.section-2 p {
    font-size: 120%;
    margin-top: 2%;
}

.section-2 h3 {
    font-size: 150%;
    color: rgb(253, 115, 129);
    font-weight: bold;
    margin-top: 3%;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.card {
    background-color: white;
    border: 3px solid #aaaaaa;
    border-radius: 3px;
    padding: 1% 1%;
}   

.card:hover {
    scale: 1.1;    
}


/* FOOTER */

footer {
    padding-left: 4%;
    padding-right: 5%;
    padding-bottom: 1%;
    display: flex;
    background-color: rgb(65, 31, 11);
    text-align: center;
    justify-content: space-between;
}

footer div {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

footer > img {
    width: 10%;
}

footer h1 {
    color: white;
    font-weight: bold;
}

footer a, footer p {
    padding-top: 1vh;
    color: #bbbbbb;
}

footer a:hover, footer p:hover {
    cursor: pointer;
    color: #eeeeee;
    scale: 1.1;
}

#paginas-footer {
    display: flex;
    flex-direction: column;
}

#contatos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

#contatos img {
    width: 2vw;
}


/* ANIMAÇÕES */

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-hidden {
    opacity: 0;
    transition: all 0.4s ease;
}

.section-show {
    opacity: 1;
}