* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 300%;
    color: rgb(85, 58, 44);
    font-weight: bold;
}

.btn-1 {
    background-color: rgb(253, 115, 129);
    color: white;
    border: 2px solid rgb(253, 115, 129);
    border-radius: 3px;
}

/* MENU */
header {
    min-height: 15vh;
    background-color: rgb(65, 31, 11);
    display: flex;
    animation: aparecer 1.0s ease forwards;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav h1 {
    color:white;    
}

nav a {
    color: #dddddd;
    text-decoration: none;
    font-size: 200%;
    transition: 0.3s;
    text-align: center;
}

#nav-home {
    scale: 1.1;
}

.nav-items a:hover, #nav-home:hover {
    scale: 1.3;
    color: #ffffff;
}

.nav-items {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#logo-home {
    width: 10%;
    margin-left: 2.5%;
}

#logo-home img {
    width: 100%;
    height: 100%;
}

#whatsapp-menu {
    margin-right: 2.5%;
    width: 10%;
    display: flex;
    padding: 0.8% 0.8%;
    border: 2px solid rgb(166, 81, 89);
    border-radius: 3px;
    scale: 0.6;
    transition: 0.3s;
}

#whatsapp-menu a {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#whatsapp-menu:hover {
    scale: 0.9;
}

.nav-items a.active {
    border-bottom: 2px solid rgb(166, 81, 89);
}

nav a img {
    margin-right: 5%;
    width: 20%;
    height: 60%;
}

#whatsapp-menu a img {
    width: 20%;
    height: 80%;
    margin-left: auto;
}

/* BODY */

/* SECTION 1 */

.section-1 {
    height: 70vh;
    width: 100%;
    background-image: url("../static/assets/fundo_section_1.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    padding-top: 10%;
    animation: subir 0.8s ease forwards;
}

.section-1 div {
    margin-left: 5%;
    width: 30%;
}

.section-1 p {
    font-size: 200%;
    margin-top: 10%;
}

.section-1 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 115, 129);
    color: white;
    font-size: 200%;
    width: 50%;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10%;
    transition: 0.2s ease;
    padding-right: 5%;
}

.section-1 a img {
    width: 30%;
    object-fit: contain;
}

.section-1 a:hover {
  transform: scale(1.05);
  background-color: rgb(166, 81, 89);
  cursor: pointer;
}

/* SECTION 2 */

.section-2 {
    background-color: #eeeeee;
    padding-top: 3%;
    padding-bottom: 10%;
}

.section-2 h1 {
    margin-left: 11%;
}

.section-2 h2 {
    font-size: 200%;
    color: rgb(85, 58, 44);
    margin-top: 2%;
    font-weight: bold;
}

.section-2 p {
    font-size: 120%;
    margin-top: 2%;
}

.section-2 h3 {
    font-size: 150%;
    color: rgb(253, 115, 129);
    font-weight: bold;
    margin-top: 3%;
}

.section-2 .cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.section-2 .card {
    background-color: white;
    border: 3px solid #aaaaaa;
    border-radius: 3px;
    padding: 1% 1%;
}   

.section-2 .card:hover {
    scale: 1.1;    
}


/* FOOTER */

footer {
    padding-left: 4%;
    padding-right: 5%;
    padding-bottom: 1%;
    display: flex;
    background-color: rgb(65, 31, 11);
    text-align: center;
    justify-content: space-between;
}

footer div {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

footer > img {
    width: 10%;
}

footer h1 {
    color: white;
    font-weight: bold;
}

footer a, footer p {
    padding-top: 1vh;
    color: #bbbbbb;
}

footer a:hover, footer p:hover {
    cursor: pointer;
    color: #eeeeee;
    scale: 1.1;
}

#paginas-footer {
    display: flex;
    flex-direction: column;
}

#contatos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

#contatos img {
    width: 2vw;
}

/* INSERIR PEDIDOS */

#inserir-pedido-page {
    padding: 2vh 2% 2vh 2%;
    background-color: #eeeeee;
}

#inserir-pedido-page h2 {
    font-size: 150%;
    color: rgb(85, 58, 44);
    margin-top: 1vh;
}

#inserir-pedido-page h3 {
    font-size: 180%;
    color: rgb(85, 58, 44);
    margin-top: 1vh;
    font-weight: bold;
}

#inserir-pedido-page h4 {
    font-size: 120%;
    color: rgb(85, 58, 44);
    margin-top: 2vh;
    font-weight: bold;
}

#inserir-pedido-page input {
    width: 95%;
    padding: 1vh 1% 1vh 1%;
    margin-top: 0.5vh;
    border-radius: 2px;
}

#inserir-pedido-page form {
    gap: 2%;
    display: flex;
    margin-top: 2vh;
}

#inserir-pedido-page #itens-head {
    display: flex;
    padding: 0vh 1% 1vh 1%;
    background-color: #eeeeee;
    border: 2px solid #cccccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#inserir-pedido-page #itens-head h4:nth-child(1) {
    width: 30%;
}

#inserir-pedido-page #itens-head h4:nth-child(2) {
    width: 25%;
}

#inserir-pedido-page #itens-head h4:nth-child(3) {
    width: 25%;
}

#inserir-pedido-page #itens-head h4:nth-child(4) {
    width: fit-content;
}

#inserir-pedido-page #itens-head h4:nth-child(5) {
    flex: 1;
    text-align: right;
}

#inserir-pedido-page .itens-row {
    display: flex;
    padding: 1vh 1% 1vh 1%;
    border: 1px solid #cccccc;
}

#inserir-pedido-page #dados-cliente {
    width: 30%;
    padding: 2vh 1% 2vh 1%;
    background-color: #ffffff;
    border: 3px solid #bbbbbb;
    border-radius: 3px;
}

#inserir-pedido-page #dados-pedido {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2vh 1% 2vh 1%;
    background-color: #ffffff;
    border: 3px solid #bbbbbb;
    border-radius: 3px;
}

#inserir-pedido-page #observacao {
    padding-bottom: 15vh;
}

#inserir-pedido-page .div-quantidade {
    display: flex;
    width: 10%;
    gap: 0px;
    margin-right: 15%;
}

#inserir-pedido-page .div-quantidade button {
    width: 15vh;
}

#inserir-pedido-page .div-quantidade input {
    width: 5vh;
}

#inserir-pedido-page .itens-row select {
    cursor: pointer;
    margin-right: 10%;
    width: 20%;
}

#inserir-pedido-page .itens-row p:nth-of-type(1) {
    width: 25%;
}

#inserir-pedido-page .itens-row p:nth-of-type(2) {
    width: fit-content;
}

#inserir-pedido-page .itens-row a {
    flex: 1;
    text-align: right;
}

#inserir-pedido-page .itens-row img {
    width: 15%;
    height: 3vh;
}

#inserir-pedido-page .itens-row img:hover {
    scale: 1.05;
    cursor: pointer;
}

#inserir-pedido-page #adicionar-total {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

#inserir-pedido-page #adicionar-total button {
    height: 70%;
    padding: 1vh 4% 1vh 4%;
    border: 2px solid rgb(253, 115, 129);
    border-radius: 2px;
    color: rgb(253, 115, 129);
    background-color: white;
}

#inserir-pedido-page #div-salvar-pedido {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}

#inserir-pedido-page #div-salvar-pedido button:nth-child(1) {
    padding: 2vh 10% 2vh 10%;
    background-color: #eeeeee;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    color: rgb(85, 58, 44);
}

#inserir-pedido-page #div-salvar-pedido button:nth-child(2) {
    padding: 2vh 10% 2vh 10%;
}

#inserir-pedido-page #dados-pedido button:hover {
    cursor: pointer;
    scale: 1.05;
}  

#inserir-pedido-page input[type="number"]::-webkit-outer-spin-button, #inserir-pedido-page 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inserir-pedido-page input[type="number"] {
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

/* PEDIDOS */

#pedidos-page {
    padding: 3vh 3% 5vh 3%;
    background-color: #eeeeee;
}

#pedidos-page div {
    display: flex;
    justify-content: space-between;
}

#pedidos-page div div {
    display: flex;
    flex-direction: column;
}

#pedidos-page div div div {
    display: flex;
    flex-direction: row;
}

#pedidos-page #btn-inserir-pedido {
    color: white;
    background-color: rgb(253, 115, 129);
    padding: 1vh 2% 1.5vh 2%;
    border-radius: 3px;
    height: 100%;
    font-size: 110%;
    text-decoration: none;
}

#pedidos-page #btn-inserir-pedido:hover {
    scale: 1.1;
}

#pedidos-page .cards-row {
    justify-content: left;
    gap: 7%;
    margin-top: 3vh;
}

#pedidos-page .card {
    width: 17.5%;
    height: 35vh;
    padding: 1vh 1% 1vh 1%;
    background-color: white;
    border: 2px solid #cccccc;
    border-radius: 3px;
}

#pedidos-page .card h3 {
    font-size: 120%;
    color:rgb(85, 58, 44);
    font-weight: bold;
}

#pedidos-page .card h4 {
    font-size: 150%;
    margin-top: 1vh;
    color:rgb(85, 58, 44);
    font-weight: bold;
}

#pedidos-page .card ul {
    padding-left: 10%;
    margin-bottom: 1vh;
}

#pedidos-page .card li {
    font-size: 110%;
}

#pedidos-page .card .div-whatsapp {
    justify-content: left;
    align-items: center;
}

#pedidos-page .card a {
    width: fit-content;
    height: fit-content;
    margin-right: 10%;
}

#pedidos-page .card img {
    width: 120%;
    height: 6vh;
}

#pedidos-page .card form:nth-of-type(1) button {
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 3px;
    width: 100%;
}

#pedidos-page .card form:nth-of-type(2) button {
    width: 100%;
    margin-top: 0.1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #cccccc;
    color: rgb(85, 58, 44);
    border: 2px solid rgb(85, 58, 44);
    border-radius: 3px;
}

#pedidos-page h2 {
    font-size: 180%;
    margin-top: 1vh;
}

/* VENDAS */

#vendas-page {
    padding: 5vh 3% 4vh 3%;
    background-color: #fcf8f4;
}

#vendas-page #header {
    display: flex;
}

#vendas-page #btn-filtro {
    background-color: rgb(253, 115, 129);
    padding: 1vh 5% 1vh 5%;
    border: 2px solid rgb(253, 115, 129);
    border-radius: 3px;
    color: white;
    margin-left: auto;
    height: 50%;
}

#vendas-page #cards {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

#vendas-page .card {
    display: flex;
    padding: 1% 1vh 1% 1vh;
    width: 22%;
    border: 2px solid #cccccc;
    border-radius: 3px;
}

#vendas-page .card div {
    align-content: center;
}

#vendas-page .card p:nth-of-type(1) {
    color: rgb(85, 58, 44);
    font-size: 120%;
}

#vendas-page .card p:nth-of-type(2) {
    color: rgb(65, 31, 11);
    font-size: 180%;
}

#vendas-page .card img {
    width: 30%;
    height: 8vh;
}

#vendas-page #grafico {
    display: flex;
    margin-top: 3vh;
}

#vendas-page #grafico img {
    width: 20%;
    height: 3vh;
}

#vendas-page #mais-vendidos {
    display: flex;
    flex-direction: column;
    border: 2px solid #cccccc;
    border-radius: 3px;
    padding: 1vh 1% 1vh 1%;
    width: 25%;
}

#vendas-page h3 {
    color: rgb(85, 58, 44);
    font-size: 150%;
}

#vendas-page #mais-vendidos h3 {
    margin-bottom: 1.5vh;
}

#vendas-page #grafico div div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

#vendas-page #grafico div div div{
    display: flex;
    flex-direction: column;
}

#vendas-page #ultimas-vendas {
    margin-top: 3vh;
    padding: 1vh 1% 1vh 1%;
    background-color: white;
    border: 3px solid #cccccc;
    border-radius: 3px;
}

#vendas-page #ultimas-vendas #header-row {
    display: flex;
    background-color: #fbf1ea;
    border: 2px solid #cccccc;
    border-radius: 3px;
    padding: 0.5vh 1% 0.5vh 1%;
    margin-top: 2vh;
}

#vendas-page #ultimas-vendas #header-row h4:nth-of-type(1) {
    width: 15%;
}

#vendas-page #ultimas-vendas #header-row h4:nth-of-type(2) {
    width: 20%;
}

#vendas-page #ultimas-vendas #header-row h4:nth-of-type(3) {
    width: 50%;
}

#vendas-page #ultimas-vendas #header-row h4:nth-of-type(4) {
    width: 15%;
}

#vendas-page #ultimas-vendas button {
    display: flex;
    padding: 1vh 2% 1vh 2%;
    margin-left: auto;
    margin-top: 4vh;
}

#vendas-page h4 {
    color: rgb(85, 58, 44);
    font-size: 120%;
}

#vendas-page #ultimas-vendas .row {
    display: flex;
    background-color:white;
    border: 2px solid #cccccc;
    border-radius: 3px;
    padding: 0.5vh 1% 0.5vh 1%;
}

#vendas-page #ultimas-vendas .row p:nth-of-type(1) {
    width: 15%;
}

#vendas-page #ultimas-vendas .row p:nth-of-type(2) {
    width: 20%;
}

#vendas-page #ultimas-vendas .row p:nth-of-type(3) {
    width: 50%;
}

#vendas-page #ultimas-vendas .row p:nth-of-type(4) {
    width: 15%;
}

#vendas-page #header form {
    display: flex;
    margin-left: auto;
    gap: 2%;
    height: 50%;
}

#vendas-page #header form input {
    margin-right: 2%;
}

/* ANIMAÇÕES */

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-hidden {
    opacity: 0;
    transition: all 0.4s ease;
}

.section-show {
    opacity: 1;
}