* {
    margin: 0px;
    padding: 0px;
}

/* MENU */
header {
    min-height: 15vh;
    background-color: rgb(75, 0, 0);
    display: flex;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav h1 {
    color:white;    
}

nav a {
    color: #dddddd;
    text-decoration: none;
    font-size: 200%;
    transition: 0.3s;
}

#nav-home {
    scale: 1.1;
}

nav a:hover, #nav-home:hover {
    scale: 1.3;
    color: #ffffff;
}

.nav-items {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

#logo-home {
    width: 25%;
    margin-left: 2.5%;
}

#whatsapp-menu {
    margin-right: 2.5%;
    width: 25%;
    display: flex;
}

#whatsapp-menu button {
    margin-left: auto;
    transition: 0.3s;
}

#whatsapp-menu button:hover {
    scale: 1.4;
}

.nav-items a.active {
    border-bottom: 2px solid rgb(255, 91, 124);
}

/* BODY */