<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churros da Angélica</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        {% include "menu.html" %}
    </header>
    <body>
        <div class="section-1">
            <div>
                <h1>Os melhores churros da cidade!</h1>
                <p>Feitos com carinho para adoçar o seu dia.</p>
                <a><img src="{{ url_for('static', filename='assets/coracao.png') }}">Ver produtos</a>
            </div>
        </div>
        <div class="section-2 section-hidden">
            <h1>Nossos Produtos</h1>
            <div class="cards">
                <div class="card">
                    <img src="{{ url_for('static', filename='assets/churros-card.png') }}">
                    <h2>Churros Tradicional</h2>
                    <p>Açúcar e canela</p>
                    <h3>R$ 8,00</h3>
                </div>

                <div class="card">
                    <img src="{{ url_for('static', filename='assets/churros-card.png') }}">
                    <h2>Churros Recheado</h2>
                    <p>Doce de leite ou chocolate</p>
                    <h3>R$ 10,00</h3>
                </div>

                <div class="card">
                    <img src="{{ url_for('static', filename='assets/churros-card.png') }}">
                    <h2>Mini Churros</h2>
                    <p>Tradicional ou recheado em tamanho reduzido</p>
                    <h3>R$ 5,00 - 7,00</h3>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>
