<nav>
    <div id="logo-home">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="nav-items">
        <a href="/vendas" class="{{ 'active' if request.path == '/vendas' else ''}}">
            <img src="{{ url_for('static', filename='assets/carrinho.png') }}">Vendas
        </a>
        <a id="nav-home" class="{{ 'active' if request.path == '/' else ''}}" href="/">
            <img src="{{ url_for('static', filename='assets/casa.png') }}">Home
        </a>
        <a href="/pedidos" class="{{ 'active' if request.path == '/pedidos' else ''}}">
            <img src="{{ url_for('static', filename='assets/pedidos.png') }}">Pedidos
        </a>
    </div>
    <div id="whatsapp-menu">
        <a href="https://wa.me/55997009084" target="_blank"><img src="{{ url_for('static', filename='assets/Whatsapp.png') }}">Whatsapp</a>
    </div>
</nav>