<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churros da Angélica</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include "menu.html" %}
    </header>
    <main id="pedidos-page">
        <div>
            <div>
                <h1>Pedidos em Produção</h1>
                <h2>Acompanhe e gerencie a fila de produção</h2>
            </div>
            <a href="inserir-pedido">+ Inserir Pedido</a>
        </div>
        <div class="cards-row">
            <div class="card">
                <div>
                    <h3>#000ID</h3>
                    <p>TEMPO</p>
                </div>
                <h4>NOME</h4>
                <ul>
                    <li>XX ITEM</li>
                    <li>Total: R$ XX,00</li>
                </ul>
                <div>
                    <a><img src="{{ url_for('static', filename='/assets/whatsapp') }}"></a>
                    <div>
                        <p>NUMERO</p>
                        <p>Falar com o Cliente (Whatsapp)</p>
                    </div>
                </div>
                <button>Marcar como Concluído</button>
                <button>Cancelar Pedido</button>
            </div>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>